
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<Link Rel="SHORTCUT ICON" href="/static/img/favicon.ico">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html";>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.1/weui.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>「insloader」帮助页面</title>
<style>a{TEXT-DECORATION:none;color: teal}
    body{ margin:0; padding:0;max-width: 640px;margin-right: auto;margin-left: auto;color:dimgray;font-family:Arial;}
    </style> 

</head>
<body>

<div class="weui-cells__title" style="text-align: center;">Instagram 相关功能</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p><a href="https://mp.weixin.qq.com/s?__biz=MzU3ODExNDcyMg==&mid=2247483670&idx=1&sn=a2d46fbb0f1b8a9fe9a7210652bc7201&chksm=fd7b04dbca0c8dcd59056b5aa83a95f4bcb7492f2262ed3b15b503af7e185ce0c45939583b9d#rd" >> insloader | 存Ins高清图</a></p>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p><a href="https://mp.weixin.qq.com/s?__biz=MzU3ODExNDcyMg==&mid=2247483670&idx=3&sn=6b5ff2b14aad36016382c8576786d2d9&chksm=fd7b04dbca0c8dcd0701aabd10ff509c2a1f89c56df5ce92c34fcf149c771500486ce4da6f4d#rd">> insloader | 存Ins视频 [iOS]</a></p>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p><a href="https://mp.weixin.qq.com/s?__biz=MzU3ODExNDcyMg==&mid=2247483670&idx=4&sn=6e3af3aef17a485cdcf59dbb5feca95f&chksm=fd7b04dbca0c8dcdeb08b77700fe29623bea18ff5227d64ec611c07fa7ea88e99207acaead1c#rd">> insloader | 存Ins视频 [Android] </a></p>
        </div>
    </div>


</div>
<br>
<div class="weui-cells__title" style="text-align: center;">insloader 更多功能</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p><a href="https://mp.weixin.qq.com/s?__biz=MzU3ODExNDcyMg==&mid=2247483670&idx=2&sn=9c9a067edb5a825d94a871ac9a12f062&chksm=fd7b04dbca0c8dcdf02f05431ec79d1d94f9a991a2da4ec13b89ee41a447fbdfb6f96b3f40ca#rd">> insloader | 制作壁纸</a></p>
        </div>
    </div>

</div>

<br>
<br>

    <h4 style="text-align: center ">常见问题</h4>

<div style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px;padding:10px;padding-left:30px;margin-top:20px;margin-right:10px;margin-left: 10px;">
        <li style="font-size:14px;background-color: #F0F0F0; padding: 5px;">Q1、没有‘复制网址’按钮？</li>
        <li style="font-size:12px;background-color: #F8F8F8; padding: 5px;"> &nbsp;&nbsp;该用户为私密账户，无法保存</li>  
        <br>
        <li style="font-size:14px;background-color: #F0F0F0; padding: 5px;">Q2、图片未显示？</li>
        <li style="font-size:12px;background-color: #F8F8F8; padding: 5px;">&nbsp;&nbsp;点击 强制显示；</li>
        <li style="font-size:12px;background-color: #F8F8F8; padding: 5px;">&nbsp;&nbsp;或更换其他VPN</li>
        <br>
        <li style="font-size:14px;background-color: #F0F0F0; padding: 5px;">Q3、关于分辨率的说明？</li>
        <li style="font-size:12px;background-color: #F8F8F8; padding: 5px;">&nbsp;&nbsp;通过insloader存下的图是最高清的版本；</li>
        <li style="font-size:12px;background-color: #F8F8F8; padding: 5px;">&nbsp;&nbsp;最高1080x1349，是Ins最大分辨率版本；</li>
        <li style="font-size:12px;background-color: #F8F8F8; padding: 5px;">&nbsp;&nbsp;如不清晰，那就是作者本身发布的图不够清晰。</li>

    </div>
<br>

<br>
<p style="font-size:12px;text-align: center; ">
<!-- <a href="http://mp.weixin.qq.com/s?__biz=MzIwNTI1MDIyMA==&mid=503660133&idx=1&sn=7f1d453466ebbe9e78e2ed5ffd3f22f4&scene=19#wechat_redirect" style="color:dimgray">使用条款</a> ｜ <a href="http://mp.weixin.qq.com/s?__biz=MzIwNTI1MDIyMA==&mid=2651145323&idx=1&sn=b450936374ef5edcc076bccfadf8705f&chksm=8cc22fa8bbb5a6bedf04bcc3bc7003449d44e026451f10279294046fa5b74cb90600e6bdf2a5#rd" style="color:dimgray">关于我们</a> ｜ <a href="http://mp.weixin.qq.com/s?__biz=MzIwNTI1MDIyMA==&mid=503658455&idx=1&sn=818590a59cb3868774a830ca29e87063#rd" style="color:dimgray">联系我们</a> </p> -->

<br>
<br>
</body>
</html>
